/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
}

#msg {
    margin-top: 20px;
    font-size: 18px;
}

#resultImage {
    margin-top: 20px;
    width: 300px; /* 画像の幅 */
    height: 300px; /* 画像の高さ */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
